

#halfWhiteDiv {
    width: 100vw;
    height: 100VH;
    position: absolute;
    background-color: rgb(195 190 194 / 80%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    TOP: 0;
    left: 0;
    padding-top: 11vw;
}

#editEventDiv {
    width: 30vw;
    height: 20vw;
    display: flex;
    justify-content: center;

}

form {
    display: flex;
    min-height: 65vh;
}

@media (max-width: 767px) {
    form {
        margin-top: -3vh;
    }
}