.navlink {
    text-decoration: none;
    --button-background: var(--color-primary);
    --button-color: white;
    --outline-color: transparent;
    background-color: #c7b2cf;
    ;
    border: 2px solid transparent;
    border-radius: 0.5em;
    color: #516259;
    ;
    cursor: pointer;
    display: inline-flex;
    font-family: var(--brand-font-alt);
    font-size: calc(5px + 2vmin);
    font-weight: var(--brand-font-alt-weight-bold);
    gap: 0.5em;
    line-height: calc(4px + 2ex);
    min-width: 10ch;
    text-decoration: none;
    transition: none .18s ease-in-out;
    justify-content: center;
    align-items: center;
    height: 4vw;

}

#listButtons {
    display: flex;
    justify-content: space-evenly
}


ul {
    padding-inline: 3vw
}

#descriptionText {
    padding: 3vw;

}

.editButton {
    height: 4.4vw;
}

@media (max-width: 767px) {
    .navlink {
        width: 27vw;
        height: 12vw;
    }
}